<script>
		console.log(photos);
</script>
<ion-scroll scrollY="true" style="width: 100%; height: 100%;">
	<ion-list>
	  <ion-item *ngFor="let photo of photos" (click)="photoSelected(photo)">
	    <ion-thumbnail item-start>
	      <img [src]="photo.img" class="photo">
	    </ion-thumbnail>
	    <h2>{{	photo.title	}}</h2>
	    <h3>{{ "Votos: " + photo.votes }}</h3>
	  </ion-item>
	</ion-list>
</ion-scroll>