<!--
  Generated template for the DetailphotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ photo.title }}</ion-title>
  </ion-navbar>
</ion-header>

<div class="container">
	<div class="photo_container">
		<img class="photo_detail" src="{{ photo.img }}" alt="">
		<p class="photo_title">{{ photo.title }}</p>
    <p class="photo_title"> {{ "Votos: " + photo.votes }} </p>
		<button class="clap" (click)="votePhoto(photo._id)"></button>
	</div>
</div>