page-detailphoto {
	transform: opacity;
}

.photo_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transform: opacity;
	width: 296px;
}

.photo_detail {
	position: relative;
	margin-top: 50%;
	transform: opacity;
}

.photo_title {
	transform: opacity;
	min-width: 296px;
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.clap {
	background-image: url('../../assets/imgs/clap.png');
	width: 62px;
	height: 62px;
	background-repeat: no-repeat;
}
